<div >
Static Pages
<p><a href="pages#index">about</a></p><br>
<p><a href="users#index">user</a></p><br>
<p><a href="events#index">event</a></p><br>
<p><a href="reports#index">report</a></p><br>

<div>